
*.vsidx
ASOECO/obj/Debug/net6.0/ASOECO.AssemblyInfo.cs
ASOECO/obj/Debug/net6.0/ASOECO.AssemblyInfoInputs.cache
ASOECO/obj/Debug/net6.0/ASOECO.assets.cache
ASOECO/obj/Debug/net6.0/ASOECO.csproj.AssemblyReference.cache
ASOECO/obj/Debug/net6.0/ASOECO.GeneratedMSBuildEditorConfig.editorconfig
Asoeco/.vs/Asoeco/v17/.suo
Asoeco/.vs/Asoeco/v17/.futdcache.v2
Asoeco/.vs/Asoeco/FileContentIndex/write.lock
Asoeco/.vs/Asoeco/DesignTimeBuild/.dtbcache.v2
Asoeco/.vs/Asoeco/v17/.suo
Asoeco/obj/staticwebassets.pack.sentinel
